

{% extends 'poetry/base.html' %}

{% block content %}

<div class="row justify-content-center golden_calf_bg">
    <div class="col-8">

        <p class="golden_calf_p">
            Путешествие по Восточной Магистрали доставляло великому комбинатору много радости. Каждый час приближал его к Северному укладочному городку, где находился Корейко.
            Нравились Остапу и литерные пассажиры. Это были люди молодые, веселые, без бюрократической сумасшедшинки, так отличавшей его геркулесовских знакомых.
            Для полноты счастья не хватало денег. Подаренную провизию он съел, а для вагон-ресторана требовались наличные.
            Сперва Остап, когда новые друзья тащили его обедать, отговаривался отсутствием аппетита, но вскоре понял, что так жить нельзя.
            Некоторое время он присматривался к Ухудшанскому, который весь день проводил у окна в коридоре, глядя на телеграфные столбы и на птичек, слетавших с проволоки.
            При этом легкая сатирическая улыбка трогала губы Ухудшанского. Он закидывал голову и шептал птицам: "Порхаете? Ну, ну".
            Остап простер свое любопытство вплоть до того, что ознакомилея даже со статьей Ухудшанского "Улучшить работу лавочных комиссий".
            После этого Бендер еще оглядел диковинного журналиста с ног до головы, нехорошо улыбнулся и, почувствовав знакомое волнение стрелка-охотника, заперся в купе,</p>

        <p class="golden_calf_p">
            Оттуда он вышел только через три часа, держа с руках большой разграфленный, как ведомость, лист бумаги.</p>

        <p class="golden_calf_p">
        - Пишете? - вяло спросил Ухудшанский.</p>

        <p class="golden_calf_p">
        - Специально для вас, - ответил великий комбинатор. Вы, я замечаю, все время терзаетесь муками творчества.
            Писать, конечно, очень трудно. Я, как старый передовик и ваш собрат по перу, могу это засвидетельствовать.
            Но я изобрел такую штуку, которая избавляет от необходимости ждать, покуда вас окатит потный вал вдохновения.
            Вот. Извольте посмотреть.</p>

        <p class="golden_calf_p">
            И Остап протянул Ухудшанскому лист, на котором было написано:</p>

        <p class="golden_calf_p">ТОРЖЕСТВЕННЫЙ КОМПЛЕКТ</p>
        <p class="golden_calf_p">НЕЗАМЕНИМОЕ ПОСОБИЕ ДЛЯ СОЧИНЕНИЯ ЮБИЛЕЙНЫХ СТАТЕЙ, ТАБЕЛЬНЫХ ФЕЛЬЕТОНОВ, А ТАКЖЕ ПАРАДНЫХ СТИХОТВОРЕНИЙ. ОД И ТРОПАРЕЙ</p>

            <p class="golden_calf_p">Раздел I. Словарь</p>
            <p class="golden_calf_p">Существительные</p>

            <table class="golden_calf_table table table-bordered table-sm ">
                <tr>
                    <td>1. Клики</td>
                    <td>11. Час</td>
                </tr>
                <tr>
                    <td>2. Трудящиеся</td>
                    <td>11. Час</td>
                </tr>
                <tr>
                    <td>1. Клики</td>
                    <td>12. Враг</td>
                </tr>
                <tr>
                    <td>3. Заря</td>
                    <td>13. Поступь</td>
                </tr>
                <tr>
                    <td>4. Жизнь</td>
                    <td>14. Вал</td>
                </tr>
                <tr>
                    <td>5. Маяк</td>
                    <td>15. Пески</td>
                </tr>
                <tr>
                    <td>6. Ошибки</td>
                    <td>16. Скок</td>
                </tr>
                <tr>
                    <td>7. Стяг (флаг)</td>
                    <td>17. Конь</td>
                </tr>
                <tr>
                    <td>8. Ваал</td>
                    <td>18. Сердце</td>
                </tr>
                <tr>
                    <td>9. Молох</td>
                    <td>19. Прошлое</td>
                </tr>
                <tr>
                    <td>10. Прислужник</td>
                    <td></td>
                </tr>
            </table>

            <p class="golden_calf_p">Прилагательные</p>
            <table  class="golden_calf_table table table-bordered table-sm ">
                <tr>
                    <td>1. Империалистический</td>
                    <td>5. Индустриальный</td>
                </tr>
                <tr>
                    <td>2. Капиталистический</td>
                    <td>6. Стальной</td>
                </tr>
                <tr>
                    <td>3. Исторический</td>
                    <td>7. Железный</td>
                </tr>
                <tr>
                    <td>4. Последний</td>
                    <td></td>
                </tr>
            </table>

            <p>Глаголы</p>

            <table  class="golden_calf_table table table-bordered table-sm ">
                <tr>
                    <td>1. Пылить</td>
                    <td>6. Вершить (ся)</td>
                </tr>
                <tr>
                    <td>2. Взметать (ся)</td>
                    <td>7. Петь</td>
                </tr>
                <tr>
                    <td>3. Выявлять</td>
                    <td>8. Клеветать</td>
                </tr>
                <tr>
                    <td>4. Рдеть</td>
                    <td>9. Скрежетать</td>
                </tr>
                <tr>
                    <td>5. Взвивать (ся)</td>
                    <td>10. Грозить</td>
                </tr>
            </table>

            <p>Художеств. эпитеты</p>

            <table  class="golden_calf_table table table-bordered table-sm ">
                <tr>
                    <td>1. Злобный</td>
                    <td>2. Зубовный</td>
                </tr>
            </table>

        <p>Прочие части речи</p>

        <table  class="golden_calf_table table table-bordered table-sm ">
            <tr>
                <td>1. Девятый</td>
                <td>4. Пускай!</td>
            </tr>
            <tr>
                <td>2. Двенадцатый</td>
                <td>5. Вперед!</td>
            </tr>
            <tr>
                <td>3. Пусть!</td>
                <td></td>
            </tr>
        </table>

        <p class="golden_calf_p">(Междометия, предлоги, союзы, запятые, многоточия, восклицательные знаки и кавычки и т. п. )</p>

        <p class="golden_calf_p">Примеч. Запятые ставят перед "что", "который" и "если". Многоточия, восклиц. знаки и кавычки-где только возможно.</p>

        <p class="golden_calf_p">Раздел II. Творческая часть (Составляется исключительно из слов раздела 1-го)</p>

        <p> <...> </p>

        <p class="golden_calf_p">3. ХУДОЖЕСТВ. СТИХОТВОРЕНИЕ</p>
        А) Тринадцатый Ваал
        <div>
        Поют сердца под грохот дней,<br/>
        Дрожит зарей маяк.<br/>
        Пускай индустрии огней<br/>
        Трепещет злобный враг.<br/>
        Железный конь несет вперед<br/>
        Исторьи скок взметать,<br/>
        Семью трудящихся несет<br/>
        Ошибки выявлять.<br/>
        Взвивается последний час.<br/>
        Зардел девятый вал,<br/>
        Двенадцатый вершится час<br/>
        Тебе, Молох-Ваал!<br/>
        </div>

        <br/>
        <p class="golden_calf_p">Б) Восточный вариант</p>
        Цветет урюк под грохот дней,<br/>
        Дрожит зарей кишлак.<br/>
        А средь арыков и аллей<br/>
        Идет гулять ишак.<br/>

        <br/>
        <p class="golden_calf_p">Азиатский орнамент</p>
        <table  class="golden_calf_table table table-bordered table-sm ">
            <tr>
                <td>1. УРЮК (абрикосы)</td>
            </tr>
            <tr>
                <td>2. АРЫК (канал)</td>
            </tr>
            <tr>
                <td>3. ИШАК (осел)</td>
            </tr>
            <tr>
                <td>4. ПЛОВ (пища)</td>
            </tr>
            <tr>
                <td>5. БАЙ (нехороший человек)</td>
            </tr>
            <tr>
                <td>6. БАСМАЧ (нехороший человек)</td>
            </tr>
            <tr>
                <td>7. ШАКАЛ (животное)</td>
            </tr>
            <tr>
                <td>8. КИШЛАК (деревня)</td>
            </tr>
            <tr>
                <td>9. ПИАЛА (чашка)</td>
            </tr>
            <tr>
                <td>10. МЕДРЕСЕ (духовное училище)</td>
            </tr>
            <tr>
                <td>11. ИЧИГИ (обувь)</td>
            </tr>
            <tr>
                <td>12. ШАЙТАН (черт)</td>
            </tr>
            <tr>
                <td>13. АРБА (телега)</td>
            </tr>
            <tr>
                <td>14. ШАЙТАН-АРБА (Средне-Азиатская ж. д. )</td>
            </tr>
            <tr>
                <td>15. ТВОЯ-МОЯ НЕ ПОНИМАЙ</td>
            </tr>
            <tr>
                <td>16. МАЛА-МАЛА / выражения</td>
            </tr>

        </table>

        <p class="golden_calf_p">Добавление</p>
            <p class="golden_calf_p">
            При помощи материалов раздела 1-го по методам раздела 2-го сочиняются также: романы, повести, поэмы в прозе, рассказы, бытовые зарисовки,
            художеств, репортаж, хроника, эпопея, пьесы, политобозрения, игра в политфанты, радиооратории и т. д.
            Когда Ухудшанский ознакомился с содержанием документа, глаза его, доселе мутные, оживились.
                Ему, пробавлявшемуся до сих пор отчетами о заседаниях, внезапно открылись сверкающие стилистические высоты.</p>

        <p class="golden_calf_p">- И за все-двадцать пять тугриков, двадцать пять монгольских рублей, - нетерпеливо сказал великий комбинатор, томимый голодом.</p>
        <p class="golden_calf_p">- У меня нет монгольских, - молвил сотрудник профоргана, не выпуская из рук "Торжественного комплекта".</p>
        <p class="golden_calf_p">Остап согласился взять обыкновенными рублями...</p>

        <br/>
        <div class="socialButtons"></div>
        <script type="text/javascript" src="/static/js/socialButtons.js"></script>

    </div>
</div>


    <div class="row justify-content-center">
    {# right side - information #}
        <div class="col-xs-12 col-sm-10 col-md-5 col-lg-4">
            <br/>
            {% include 'poetry/../../../poetry/templates/sidebarInfo.html' %}
        </div>

        <div class="col-xs-12 col-sm-10 col-md-5 col-lg-4">
            <br/>
            {% include 'poetry/../../../poetry/templates/sidebarAdds.html' %}
        </div>
    </div>

{% endblock content %}