
    <h4 class="page-header">Новое на сайте</h4>

    <ul class="list-group">
        <a href="{% url 'guess' %}" class="list-group-item list-group-item-info">Добавлен раздел "Угадай стихотворение".
           Проверьте, насколько хорошо вы знаете произведения из списка 100 самых читаемых стихотворений</a>

        <a href="#" class="list-group-item list-group-item-info">Реализован алгоритм поиска по сайту среди опубликованных стихотворений</a>

        <a href="{% url 'easypoem' %}" class="list-group-item list-group-item-info">Ознакомтесь с незаменимым пособием по сочинению!</a>
    </ul>
