{% extends "poetry/base.html" %}

{% block content %}
    {# left side - vidoes #}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-lg-offset-1">

        <h3>YouTube</h3>

        {% for video in YoutubeLinks %}
            <iframe width="560" height="315" src="{{ video.link }}" frameborder="0" allowfullscreen></iframe>
            <br/>
            <hr>
        {% endfor %}
        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/n_sIMXK3VbE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        <br/>
        <hr>
    </div>

    {# right side - information #}
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-4">
        {% include 'poetry/../sidebarInfo.html' %}

        <br/>
        {% include 'poetry/../sidebarAdds.html' %}

        <br/>
        <div class="share42init "></div>
        <script type="text/javascript" src="/static/socialButtons/share42.js"></script>

    </div>

{% endblock content %}